# -------------------------------------
# Production Environment Configuration
# target-name: .env.prd
# -------------------------------------

# Spring Boot Profile
SPRING_PROFILES_ACTIVE=prd

# Database Configuration (Supabase Prod Project)
JDBC_URL=jdbc:postgresql://db.<project-ref>.supabase.co:5432/postgres
DB_USER=postgres.odbjralfrvmgjpcdhziu
DB_PASS=<database-password>

# Supabase Auth
SUPABASE_AUTH_URL=https://<project-ref>.supabase.co/auth/v1
