# Local Environment Configuration
# Copy this file to .env.loc and fill in actual values

# Database Configuration Supabase pooler
JDBC_URL=jdbc:postgresql://aws-1-eu-west-1.pooler.supabase.com:5432/postgres

# Spring Boot Configuration
SPRING_PROFILES_ACTIVE=loc
